.dynamic-row {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  margin: 10px 0;

  > * {
    flex: 0 0 32%;
  }

  .dynamic-row__cta {
    display: flex;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
  }

  .dynamic-row__remove,
  .dynamic-row__clone {
    position: relative;
    width: 22px;
    height: 22px;
    background-color: #0f801d;
    border-radius: 100%;
    cursor: pointer;
    transition: box-shadow 0.3s;
    margin-left: 5px;

    &:hover {
      box-shadow: 0 0 1px 2px #000;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2px;
      height: 12px;
      background-color: #fff;
      transform: translate(-50%, -50%);
    }

    &:after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }

  .dynamic-row__remove {
    background-color: #f51919;

    &:after {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.js-shopify_utils-dynamic-rows {
  .dynamic-row:first-child {
    .dynamic-row__remove {
      display: none;
    }
  }

  .dynamic-row:first-child + .dynamic-row {
    .dynamic-row__clone {
      display: none;
    }
  }
}