.shopify_utils-modals {
  input[type="text"],
  select {
    padding: 10px;
  }

  .shopify_utils-option-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  
    > * {
      flex: 0 1 49.5%;
    }
  }
  
  .io-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .input-field,
    .output-field {
      display: none;
      flex: 0 1 49.5%;
      margin-bottom: 10px;
      padding: 10px;
    }

    .btn.is-loading {
      position: relative;
      font-size: 0;
      line-height: 0;
      &:before {
        content: '';
        display: block;
        width: 42px;
        height: 42px;
        margin: 0 auto;
        border-left: 3px solid #fff;
        border-right: 3px solid #fff;
        border-bottom: 2px solid transparent;
        border-top: 2px solid transparent;
        border-radius: 100%;
        -webkit-animation:spin 1s linear infinite;
        -moz-animation:spin 1s linear infinite;
        animation:spin 1s linear infinite;
      }

      &:after {
        content: 'Loading';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        font-size: 10px;
        transform: translateY(-50%);
      }
    }
  }
}

.target-holder {
  &[data-type="io-fields"] {
    .input-field,
    .output-field {
      display: block;
    }
  }

  &[data-type="custom-code"] {
    .code-editor-wrapper {
      display: block;
    }
  }

  &[data-type="insert"] {
    .input-field{
      display: block;
    }
  }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }