.CodeMirror-lint-tooltip,
.CodeMirror-hints {
  z-index: 999 !important;
}

.code-editor {
  width: 100%;
  height: 400px;
}

.CodeMirror-cursor {
	width: 1px !important;
}

.CodeMirror-sizer {
  margin-left: 16px !important;
}