.response-holder {
  display: none;
  margin: 10px 0;

  .btn--reveal {
    display: none;
  }

  &.is-active {
    display: block;
  }

  &.is-revealed {
    .btn--reveal {
      display: block;
      margin-bottom: 5px;
    }

    .btn--next {
      display: none;
    }
  }
  
  .response-holder__inner {
    margin-bottom: 10px;
    overflow: auto;
    max-height: 300px;
    padding: 10px;
    background: #e8e7e7;
    border-radius: 5px;
  }
}